.marquee {
  position: relative;
  width: 100%;
}

.marquee .inner {
  position: relative;
  width: 100%;
  display: flex;
  z-index: 5;
}
.marquee .inner > * {
  white-space: nowrap;
}

.marquee p {
  margin: 0px;
  font-size: 300px;
  line-height: 160%;
  color: #255af6;
}
@media (max-width: 1280px) {
  .marquee p {
    font-size: 200px;
  }
}

@media (max-width: 480px) {
  .marquee p {
    font-size: 100px;
  }
}
