.header {
  padding: 150px 0 40px;
  background: #1e1e1e;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
}
.header::after {
  content: "";
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../noise.png);
  opacity: 0.15;
}
.header__slider {
  position: absolute;
  width: 100vw;
  top: 0px;
  left: 0;
  z-index: 2;
}

.header::before {
  content: "";
  position: absolute;
  background: url("../Header/poldyaev.png");
  right: 0px;
  bottom: 0px;
  width: 620px;
  height: 720px;
  background-repeat: no-repeat;
  background-position: right bottom;
  display: block;
  z-index: 3;
}

.header__content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 5;
}

.about {
  position: relative;
}
.about p {
  font-size: 18px;
}
.about__circle {
  position: absolute;
  right: -120px;
  top: -90px;
}
.myNameIs {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
}
.description {
  margin: 0;
  margin-bottom: 80px;
  width: auto;
}
.lookBelow {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.lookBelow__title {
  margin-left: 12px;
}
.lookBelow:hover {
  animation: down 1s;
}

.writeToMe {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 5;
}

@keyframes down {
  0%,
  20%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    transform: translateY(15px);
    transform: translateY(15px);
  }
}

@media (max-width: 1280px) {
  .line {
    margin-bottom: 20px;
  }

  .writeToMe {
    display: none;
  }
}

@media (max-width: 1199px) {
  .header::before {
    background-size: 80%;
  }
}
@media (max-width: 991px) {
  .header::before {
    background-size: 70%;
  }
  .about__circle {
    right: 200px;
    top: 210px;
  }
  .description {
    margin-bottom: 240px;
  }
}

@media (max-width: 767px) {
  .description {
    margin-bottom: 290px;
  }
  .header::before {
    background-size: 60%;
  }
}
@media (max-width: 480px) {
  .header {
    height: auto;
  }
  .header__slider {
    top: 10px;
  }
}
@media (max-width: 390px) {
  .header::before {
    background-size: 60%;
  }
}
