.content {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}

.card {
  padding: 36px 16px;
  background: #1e1e1e;
}
.card img {
  width: 100%;
}

@media (max-width: 1920) {
  .content {
    row-gap: 20px;
  }
}
