.content {
  overflow: hidden;
  white-space: nowrap;
}
.circle {
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  width: 1600px;
}

.row {
  display: flex;
  column-gap: 50px;
}
.card {
  padding: 56px 35px;
  background: black;
}

.img {
  height: 255px;
  width: 402px;
}
