.content {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}

.card {
  padding: 36px 16px;
  background: black;
}

@media (max-width: 1814px) {
  .content {
    row-gap: 20px;
    flex-direction: column;
  }
  .card {
    text-align: center;
    background: #1e1e1e;
  }
}
