.footer {
  padding: 90px 0px 20px 0px;
  background: #1e1e1e;
  position: relative;
  box-sizing: border-box;
  min-height: 640px;
  overflow: hidden;
}
.footer__slider {
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 0;
}

.footer__content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}
.title {
  font-size: 72px;
  line-height: 120%;
  margin: 0px 0px 80px 0px;
}

.contacts {
  display: flex;
  column-gap: 10px;
  margin-bottom: 180px;
}

.button {
  border-radius: 100px;
  background: #1e1e1e;
  padding: 10px 42px;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  border: 0.2px solid #ffffff;
}

.line {
  width: 100%;
  border: 1px solid #ffffff;
  margin-bottom: 30px;
}
.infoWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.info {
  display: flex;
  column-gap: 46px;
}
.block {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.blockTitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #cdcdcd;
  margin: 0;
}
.blockSubTitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}
.social {
  display: flex;
  column-gap: 40px;
}

.goOver {
  display: flex;
  align-items: center;
}

.goOver__title {
  margin-left: 6px;
}
